In [1]:
# Pandas is powerful library and used for data analysis - visulaization and exploration
import pandas as pd # for data analysis
import numpy as np  # for numerical python
import plotly.express as px # for interactive plots - creates interactive images

- load the data (Algorithm for every datasets)
- look at the data
- if required,clean the data
- if required,transform the data
- if required, reduce the data
- if required,create new features
- if required,create new dataframes

In [2]:
df = pd.read_excel('Book2.xlsx') # df dataframe data structures used to read and edit tows and columns inthe data, read function is to read data from any type of file
df

   Id first Name Last Name  basic salry   d.a  h.r.a  t.a department  fine
0   1        Ram    Sharma         30000  0.3    0.8  0.1      sales   600
1   2     Vijay     Pandey         25000  0.3    0.8  0.1   purchase   299
2   3      Imran       Ali         45000  0.3    0.8  0.1        rnd   588
3   4      Ajay     Pandey         25000  0.3    0.8  0.1      sales  1020
4   5     Vijay     Sharma         19500  0.5    0.6  0.1   purchase   399
5   6     Rohan     Kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1      sales     0
7   8     Suraj      Singh         95000  0.4    1.0  0.5   purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    Arun Kr    Pandey         30000  0.5    0.8  0.1   purchase   299

In [3]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [4]:
df['first Name'] # single column access will be series

0        Ram
1     Vijay
2      Imran
3      Ajay
4     Vijay
5     Rohan
6     Vidhya
7     Suraj
8      Arjun
9    Arun Kr
Name: first Name, dtype: object

In [5]:
df[['first Name','Last Name']] # list of columns

  first Name Last Name
0        Ram    Sharma
1     Vijay     Pandey
2      Imran       Ali
3      Ajay     Pandey
4     Vijay     Sharma
5     Rohan     Kapoor
6     Vidhya     Singh
7     Suraj      Singh
8      Arjun    Kapoor
9    Arun Kr    Pandey

In [6]:
df.iloc[0]  #iloc - index location-row wise

Id                   1
first Name         Ram
Last Name       Sharma
basic salry      30000
d.a                0.3
h.r.a              0.8
t.a                0.1
department       sales
fine               600
Name: 0, dtype: object

In [7]:
df.iloc[3].tolist() # return data in the form of list(tolist is the library of numpy)

[4, 'Ajay ', 'Pandey', 25000, 0.3, 0.8, 0.1, 'sales', 1020]

In [8]:
df.iloc[:4] # first 4 rows

   Id first Name Last Name  basic salry   d.a  h.r.a  t.a department  fine
0   1        Ram    Sharma         30000  0.3    0.8  0.1      sales   600
1   2     Vijay     Pandey         25000  0.3    0.8  0.1   purchase   299
2   3      Imran       Ali         45000  0.3    0.8  0.1        rnd   588
3   4      Ajay     Pandey         25000  0.3    0.8  0.1      sales  1020

In [9]:
df.iloc[-5:,:3] # last 5 rows and first 3 columns

   Id first Name Last Name
5   6     Rohan     Kapoor
6   7     Vidhya     Singh
7   8     Suraj      Singh
8   9      Arjun    Kapoor
9  10    Arun Kr    Pandey

In [10]:
df

   Id first Name Last Name  basic salry   d.a  h.r.a  t.a department  fine
0   1        Ram    Sharma         30000  0.3    0.8  0.1      sales   600
1   2     Vijay     Pandey         25000  0.3    0.8  0.1   purchase   299
2   3      Imran       Ali         45000  0.3    0.8  0.1        rnd   588
3   4      Ajay     Pandey         25000  0.3    0.8  0.1      sales  1020
4   5     Vijay     Sharma         19500  0.5    0.6  0.1   purchase   399
5   6     Rohan     Kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1      sales     0
7   8     Suraj      Singh         95000  0.4    1.0  0.5   purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    Arun Kr    Pandey         30000  0.5    0.8  0.1   purchase   299

In [11]:
df.head() # first 5 rows

   Id first Name Last Name  basic salry   d.a  h.r.a  t.a department  fine
0   1        Ram    Sharma         30000  0.3    0.8  0.1      sales   600
1   2     Vijay     Pandey         25000  0.3    0.8  0.1   purchase   299
2   3      Imran       Ali         45000  0.3    0.8  0.1        rnd   588
3   4      Ajay     Pandey         25000  0.3    0.8  0.1      sales  1020
4   5     Vijay     Sharma         19500  0.5    0.6  0.1   purchase   399

In [12]:
df.tail() # last 5 rows

   Id first Name Last Name  basic salry   d.a  h.r.a  t.a department  fine
5   6     Rohan     Kapoor         50000  0.3    0.8  0.1        rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1      sales     0
7   8     Suraj      Singh         95000  0.4    1.0  0.5   purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1        rnd   299
9  10    Arun Kr    Pandey         30000  0.5    0.8  0.1   purchase   299

In [13]:
# missing value
df.isnull().sum() # count of missing values in the table and make the sum

Id              0
first Name      0
Last Name       0
basic salry     0
d.a             0
h.r.a           0
t.a             0
department      0
fine            0
dtype: int64

In [14]:
df.info() # check the datatype of the entities

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            10 non-null     int64
 1   first Name    10 non-null     object
 2   Last Name     10 non-null     object
 3   basic salry   10 non-null     int64
 4   d.a           10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [15]:
df.describe() # numerical values and having statistical values (mean,median,quartile,upper-quartile)

             Id  basic salry         d.a      h.r.a        t.a         fine
count  10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean    5.50000  38150.000000   0.360000   0.780000   0.140000   380.300000
std     3.02765  24106.303924   0.084327   0.113529   0.126491   301.232302
min     1.00000  10000.000000   0.300000   0.600000   0.100000     0.000000
25%     3.25000  25000.000000   0.300000   0.800000   0.100000   299.000000
50%     5.50000  30000.000000   0.300000   0.800000   0.100000   299.000000
75%     7.75000  48750.000000   0.400000   0.800000   0.100000   540.750000
max    10.00000  95000.000000   0.500000   1.000000   0.500000  1020.000000

head,tail,info,describe - look at the data

In [16]:
df['d.a'] * df['basic salry ']\
+df['h.r.a'] * df['basic salry ']\
+df['t.a'] * df['basic salry ']\
+ df['basic salry '] # \ is making it in one line ,making representation good.

0     66000.0
1     55000.0
2     99000.0
3     55000.0
4     42900.0
5    110000.0
6    119600.0
7    275500.0
8     20000.0
9     72000.0
dtype: float64

In [17]:
df['total salary'] = df['d.a'] * df['basic salry ']\
+df['h.r.a'] * df['basic salry ']\
+df['t.a'] * df['basic salry ']\
+ df['basic salry '] - df['fine']
df.head(3) # making a new parameter total salary in the table.

,Id,first Name,Last Name,basic salry,d.a,h.r.a,t.a,department,fine,total salary
0,1,Ram,Sharma,30000,0.3,0.8,0.1,sales,600,65400.0
1,2,Vijay,Pandey,25000,0.3,0.8,0.1,purchase,299,54701.0
2,3,Imran,Ali,45000,0.3,0.8,0.1,rnd,588,98412.0

In [18]:
df.columns.tolist()

['Id',
 'first Name',
 'Last Name',
 'basic salry ',
 'd.a',
 'h.r.a',
 't.a',
 'department',
 'fine',
 'total salary']

In [19]:
# visualization - 
px.area(df,x='first Name',y='total salary')