In [1]:
x =(1,2,3)  # creating tuple and it is a default data structure of python
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
12,13,14 # default data structure (tuple packing)

(12, 13, 14)

In [4]:
# single element tuple
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [7]:
# tuple unpacking
a =(2,3,4)
x1,x2,x3 = a 
print(x1,x2,x3)

2 3 4

In [8]:
a =(1,2,34,5,6,7,8,9,10,11)
a1,a2,*a3=a  # * wide character sequence in python
print(a1,a2,a3)

1 2 [34, 5, 6, 7, 8, 9, 10, 11]

In [9]:
a[0] # indexing present in tuple

1

In [10]:
for i in a:
    print(i)

1
2
34
5
6
7
8
9
10
11

In [11]:
a[-5:]

(7, 8, 9, 10, 11)

In [16]:
# count and index method in tuple
x =(1,2,3,4,5,6,3,7,7)
print(x.count(7))
print(x.index(3))
print(x.index(3,5)) # 3 is the value and 5 is the index

2
2
6

In [20]:
a =[1,2,3]
at1 = tuple(a) # converting list into tuple
a1 = list(at1)
print(a1)
print(at1)

[1, 2, 3]
(1, 2, 3)

Set

In [21]:
s ={1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [22]:
s1 = set() # empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [24]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add(3)
print(s1)

{'hello', 3, 4}

In [26]:
s1.discard(3) # remove a value from the set
print(s1)

{'hello', 4}

In [27]:
for i in s1:
    print(i)

hello
4

In [28]:
name = set('Ashok sharma')
print(name)

{'k', 'r', 'A', 's', ' ', 'h', 'a', 'o', 'm'}

In [33]:
# set operations - 
group1 ={'apple','orange','mango','watermelon','Kiwi','orange'}
group2 ={'apple','grapes','pineapple','watermelon','kiwi','orange'}

In [34]:
# union 
group1|group2 # all the elements from both the sets

{'Kiwi',
 'apple',
 'grapes',
 'kiwi',
 'mango',
 'orange',
 'pineapple',
 'watermelon'}

In [37]:
print(group1-group2) # elements in group1 but not in group2
print(group2 - group1) # elements in group2 but not in group1
print(group2.difference(group1))

{'mango', 'Kiwi'}
{'grapes', 'pineapple', 'kiwi'}
{'grapes', 'pineapple', 'kiwi'}

In [39]:
#symmetric difference
print(group1^group2)  # elements in group1 or group2 but not in both
print(group1.symmetric_difference(group2))

{'pineapple', 'Kiwi', 'mango', 'grapes', 'kiwi'}
{'pineapple', 'Kiwi', 'mango', 'grapes', 'kiwi'}